<section class="section">
  <h2 class="visually-hidden">Tech skills</h2>

  <div class="skills-outer">
    <div class="skills-wraper" data-aos="fade-right" data-aos-duration="800">
      <div class="skills-track">
        <div class="skills">
          <span>HTML/CSS</span>
          <span>Javascript</span>
          <span>React</span>
          <span>NODE.js</span>
          <span>React Native</span>
          <span>Typescript</span>
          <span>HTML/CSS</span>
          <span>Javascript</span>
          <span>React</span>
          <span>NODE.js</span>
          <span>React Native</span>
          <span>Typescript</span>
        </div>

        <div class="skills">
          <span>HTML/CSS</span>
          <span>Javascript</span>
          <span>React</span>
          <span>NODE.js</span>
          <span>React Native</span>
          <span>Typescript</span>
          <span>HTML/CSS</span>
          <span>Javascript</span>
          <span>React</span>
          <span>NODE.js</span>
          <span>React Native</span>
          <span>Typescript</span>
        </div>


      </div>
    </div>

    <div data-aos="fade-up-left" data-aos-duration="1000">
      <div class="skills-wraper rotated">
        <div class="skills-track reverse-track">
          <div class="skills reverse">
            <span>HTML/CSS</span>
            <span>Javascript</span>
            <span>React</span>
            <span>NODE.js</span>
            <span>React Native</span>
            <span>Typescript</span>
            <span>HTML/CSS</span>
            <span>Javascript</span>
            <span>React</span>
            <span>NODE.js</span>
            <span>React Native</span>
            <span>Typescript</span>
          </div>

          <div class="skills reverse">
            <span>HTML/CSS</span>
            <span>Javascript</span>
            <span>React</span>
            <span>NODE.js</span>
            <span>React Native</span>
            <span>Typescript</span>
            <span>HTML/CSS</span>
            <span>Javascript</span>
            <span>React</span>
            <span>NODE.js</span>
            <span>React Native</span>
            <span>Typescript</span>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>