<div class="work-together-modal" id="work-together-modal">
    <div class="work-together-modal-content" id="work-together-modal-content">
        <button class="work-together-modal-close-button">
            <svg class="work-together-modal-close-icon" id="work-together-modal-close-button" width="24" height="24">
                <use href="img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="work-together-modal-caption" id="work-together-modal-caption"></p>
        <p class="work-together-modal-paragraph" id="work-together-modal-paragraph"></p>
    </div>
</div>